.contact-title {
    font-size: 2rem;
    line-height: 1.3;
    display: block;
}

.contact-columns {
    display: flex;
    flex-wrap: wrap;
}

.contact-col-half {
    flex: 0 0 50%;
}

.contact-col-half.contact-form {
    padding: 0 2%;
}

.contact-form p {
    line-height: 1.5;
    margin: 10px 0 30px;
}

.contact-col-half .contact-cover {
    display: block;
    width: 100%;
    height: auto;
    padding-top: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    position: sticky;
    top: 60px;
}

.contato .nf-after-form-content,
.contato .nf-form-fields-required,
.contato .nf-field-label label {
    display: none;
}

.contato .nf-after-field .nf-error-msg {
    font-size: 0.7rem;
}

@media (max-width: 1019px) {
    .contact-form p {
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .contact-title {
        font-size: 1.5rem;
    }
    
    .contact-col-half {
        flex: 0 0 100%;
    }
    
    .contact-col-half .contact-cover {
        padding-top: 60%;
    }
    
    .contact-col-half.contact-form {
        padding: 2% 5%;
    }
    
    .contact-form p {
        font-size: 12px;
    }
    
    .contato .btn-secondary,
    .contato input[type="submit"].btn-secondary,
    .contato input[type="reset"].btn-secondary,
    .contato input[type="button"].btn-secondary {
        width: 100%;
    }
}